:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --very-graying-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --very-light: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: hsl(185, 75%, 39%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  margin: 0 auto;
  /*background-image: url (bg-pattern-card.svg);*/
}
.card {
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.card-top {
  background-color: rgb(13, 17, 36);
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 200px;
  background-image: url(images/bg-pattern-card.svg);
}
/*"svg
  width="350"
  height="140"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink");*/

img {
  border-radius: 50%;
  border: var(--very-light) solid 0.5rem;
  position: absolute;
  top: 5rem;
  width: 8rem;
}
.card-details {
  background-color: var(--very-light);
  padding: 2rem 0 2rem 0;
  width: 100%;
  border-radius: 0 0 8px 8px;
}
h1,
.stats {
  font-size: 1.5rem;
  color: var(--very-dark-desaturated-blue);
}
h1 {
  margin: 0;
}
p {
  margin: 0.5rem;
}
.name,
.stats {
  font-weight: 700;
  margin-bottom: 0;
}
.card-details span,
p,
.stats-areas {
  color: var(--very-graying-blue);
}
.card-info-container {
  display: flex;
  justify-content: space-around;
}
.stats-areas {
  margin-top: 1rem;
}
