:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --very-graying-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --very-light: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: hsl(185, 75%, 39%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  margin: 0 auto;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
}
.card {
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  /*box-shadow: 10px 10px 10px 10px var(--dark-gray);*/
}
.card-top {
  background-image: url(images/bg-pattern-card.svg);
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 10rem;
}
img {
  border-radius: 50%;
  border: var(--very-light) solid 0.5rem;
  position: absolute;
  top: 6rem;
  width: 8rem;
}
.card-details {
  background-color: var(--very-light);
  padding: 5rem 0 2rem 0;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
}
h1,
.stats {
  font-size: 1.5rem;
  color: var(--very-dark-desaturated-blue);
}
h1 {
  margin: 0;
}
p {
  margin: 0.5rem;
}
.location {
  border-bottom: solid var(--dark-gray) 0.1rem;
  padding-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.2rem;
}
.name,
.stats {
  font-weight: 700;
}
.card-details span,
p,
.stats-areas {
  color: var(--very-graying-blue);
  font-size: 0.9rem;
}
.card-info-container {
  display: flex;
  justify-content: space-around;
}
.stats-areas {
  margin-top: 0.3rem;
  font-size: 1rem;
}
